// import of the custom servoy theme properties that will import the hidden servoy theme, this imported file is for customizing the default servoy theme properties 
@import 'custom_servoy_theme_properties.less';

// Add your custom less/css to this file you can use the same less properties that are specified in the above properties.less

body{
	background-color:@body-bg;
}

.btn{
	color: @text-color;
	background-color:white;
	border: 1px solid @border-color;
	border-radius: @border-radius;
	outline:none !important;
	&:hover{
		border:none;
		background-color:@main-color;
		cursor:pointer;
		color:white;
	}
}

.w-1000 {
	max-width: 1000px;
	margin:auto;
}