@import 'svyStyleGuide.less';

/* START General */

@main-color: %%MAIN-COLOR%%; // default:#E9720B

@secondary-color: %%SECONDARY-COLOR%%; // default:#18222C

@font-size-h1: %%FONT-SIZE-H1%%; // default:36px

@text-font-size: %%TEXT-FONT-SIZE%%; // default:@font-size-h5

